services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: myakuntansi_frontend_prod
    restart: unless-stopped
    ports:
      - "8080:80"
    environment:
      - NODE_ENV=production
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
